useDynLib(volfiR, .registration=TRUE)
importFrom(Rcpp, evalCpp)
export(volfi_ctx)
export(volfi_ctx_size)
export(volfi_w)
export(volfi_iv)
export(volfi_w_otm)
export(volfi_iv_otm)
export(volfi_w_call_norm)
export(volfi_iv_call_norm)
export(volfi_iv_call)
export(volfi_version)
S3method(print, volfi_ctx)
